@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* color */
  --color-background: var(--background);
  --color-background-toss: var(--background-toss);
  --color-background-toss-light: var(--background-toss-light);
  --color-background-toss-secondary: var(--background-toss-secondary);
  --color-background-toss-secondary-light: var(
    --background-toss-secondary-light
  );
  --color-background-toss-tertiary: var(--background-toss-tertiary);
  --color-background-toss-bull: var(--background-toss-bull);
  --color-background-toss-bear: var(--background-toss-bear);
  --color-background-toss-brand: var(--background-toss-brand);
  --color-background-toss-tertiary: var(--background-toss-tertiary);
  --color-background-toss-warn: var(--background-toss-warn);
  --color-background-toss-hover: var(--background-toss-hover);
  --color-foreground: var(--foreground);
  --color-foreground-toss: var(--text-toss);
  --color-foreground-toss-secondary: var(--text-toss-secondary);
  --color-foreground-toss-tertiary: var(--text-toss-tertiary);
  --color-foreground-toss-bull: var(--text-toss-bull);
  --color-foreground-toss-bear: var(--text-toss-bear);
  --color-foreground-toss-ticker: var(--text-toss-ticker);
  --color-icon-toss-success: var(--icon-toss-success);
  --color-icon-toss-error: var(--icon-toss-error);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* text */
  --text-toss-xs: 12px;
  --text-toss-sm: 13px;
  --text-toss-md: 14px;
  --text-toss-lg: 15px;
  --text-toss-xl: 20px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* cryptoss design */
  --background-toss: oklch(0.21 0.0098 285.51);
  --background-toss-light: oklch(0.92 0.0013 286.37);
  --background-toss-secondary: oklch(0.3 0.018 289.85);
  --background-toss-secondary-light: oklch(0.22 0.0116 285.43);
  --background-toss-tertiary: oklch(0.42 0.0197 285.53);
  --background-toss-bear: oklch(0.47 0.1543 20.34);
  --background-toss-bull: oklch(0.56 0.1759 258.67);
  --background-toss-brand: oklch(0.63 0.1915 258.27);
  --background-toss-warn: oklch(0.64 0.2093 20.98);
  --background-toss-hover: oklch(0.9 0.0519 285.31 / 11%);
  --text-toss: oklch(0.92 0.0013 286.37);
  --text-toss-bull: oklch(0.64 0.2093 20.66);
  --text-toss-bear: oklch(0.63 0.1915 258.27);
  --text-toss-secondary: oklch(0.82 0.0042 286.31);
  --text-toss-tertiary: oklch(0.7 0.0086 286.17);
  --text-toss-ticker: oklch(0.6 0.0135 285.98);
  --icon-toss-success: oklch(0.71 0.1599 159.43);
  --icon-toss-error: oklch(0.6 0.2394 26.96);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .col {
    display: flex;
    flex-direction: column;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

* {
  font-family: "Toss Product Sans", sans-serif;
}
